/* .classAccordion { */
/* 	display: table; */
/* } */
.parte {
	display: block;
	width: 25%;
	float: left;
}

#nomes {
	border: 1px solid blue;
}

#progress {
	border: 1px solid black;
}

#counters {
	border: 1px solid red;
}