.classAccordion {
	height: 200px ! important;
}

.parte {
	width: 64%;
	float: left;
	height: 100%
}

#nomes {
	width: 20%;
	border: 1px solid blue;
}

#progress {
	border: 1px solid black;
}

#counters {
	width: 15%;
	border: 1px solid red;
}

#inteiro {
	border: 1px solid green;
	display: table;
	width: 100%;
	height: 100%
}

#progressbar {
	height: 50% !important;
}

.botoes {
	height: 50% !important;
	text-align: center;
}

.botao {
	width: 23%;
	height: 100% !important;
}