/* .classAccordion { */
/* 	display: table; */
/* } */
.parte {
	width: 64%;
	float: left;
}

#nomes {
	width: 20%;
	border: 1px solid blue;
}

#progress {
	border: 1px solid black;
}

#counters {
	width: 15%;
	border: 1px solid red;
}

#inteiro {
	border: 1px solid green;
	display: table;
	width: 100%;
}

.progressBar {
	height: 150px !important;
}